email=info@mylandmarktech.com
##always-auth=true
registry=http://172.31.19.233:8181/mylandmarktech/repository/ebay-npm-repo/
//172.31.19.233:8181/mylandmarktech/repository/ebay-npm-repo/:_auth=YWRtaW46YWRld3VtaWZlbGExLg==
allowRepublish=true
